.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: #fff;
    padding-bottom: 20px;
    width: 400px;
    border: #f0f0f0 1px solid;
    border-radius: 10px;
    box-shadow: #15016e 0px 0px 10px 0px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 80px;
    height: 4px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    background: #f5f5f5ef;
    border-radius: 10px;
    border: #e9e9e9 1px solid;
}

.input img{
    margin: 0 10px 0 15px;
    width: 5%;
} 

.input input{
    width: 400px;
    height: 50px;
    border: none;
    background: transparent;
    font-size: 12px;
    outline: none;
}

.forgot-password{
    padding-left: 50px;
    margin-top: 10px;
    color: #797979;
    font-size: 12px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 26px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}